# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/website/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
node_modules_OLD
scripts/node_modules
lds-ai/bard/.apikey
lds-ai/data-scraping/src/db
lds-ai/data-scraping/node_modules
lds-ai/search/node_modules
lds-ai/search/search-env
lds-ai/search/chroma_db
lds-ai/search/.apikey
.firebase

