<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chroma Search</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>LDS Search</h1>
        <!-- Title inside the card -->
        <form id="search-form">
          <input type="text" name="search_text" placeholder="Search" required />
          <button type="submit">Search</button>
        </form>
        <div id="results"></div>
      </div>
    </div>

    <script>
      document
        .getElementById("search-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const formData = new FormData(e.target);
          const response = await fetch("/search", {
            method: "POST",
            body: formData,
          });

          const resultsDiv = document.getElementById("results");
          resultsDiv.innerHTML = ""; // Clear previous results

          if (response.ok) {
            const results = await response.json();
            resultsDiv.innerHTML = "<h4>Results:</h4>";
            console.log(results);

            results.documents?.forEach((doc, i) => {
              const a = document.createElement("a");
              a.textContent = results.metadatas[i]?.title;
              a.href = results.metadatas[i]?.url;
              resultsDiv.appendChild(a);
              const div = document.createElement("div");
              div.textContent = results.ai_answers[i];
              resultsDiv.appendChild(div)
              resultsDiv.appendChild(document.createElement("br"));
            });
          } else {
            resultsDiv.innerHTML = "<p>Error fetching results.</p>";
          }
        });
    </script>
  </body>
</html>
